<nav>
  <ul class="index-nav">
    <li class="logo-name">FRESH CABBAGE</li>
  </ul>
  <ul class="search-form">
    <li><%= render 'search/form' %></li>
  </ul>
</nav>

<section class="index-banner new-releases">
  <p>New Releases</p>
</section>

<section>

</section>


<% @movies.each do |movie| %>
  <ul>
    <li>
    <%= link_to movie.title, movie %>
    </li>
  </ul>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



