.index-content
  text-align: center

nav
  font-family: 'Bangers', cursive
  color: #257A20
  padding: 12px 0

  ul
    display: inline-block
    vertical-align: middle

    li
      display: inline-block
      vertical-align: middle
      padding-right: 12px

    h1
      font-size: 48px

    img
      height: 44px

.index-banner

  p
    background-color: #C5C5C5
    color: #515151
    padding: 8px 0

.new-releases
  p
    margin-top: 0
