.movie-content
  width: 740px
  margin: 0 auto
  padding: 40px
  color: #333333

  section.poster-show
    display: inline-block
    vertical-align: top

    img
      height: 300px
      margin: 32px

  section.movie-info
    margin: 32px
    height: 300px
    width: 400px
    display: inline-block
    vertical-align: top

    ul
      margin-bottom: 20px

      li.line
        border-right: 2px solid #979797

    ul.review-average
      display: inline-block
      padding: 8px 0
      border-top: 2px solid #979797
      border-bottom: 2px solid #979797

      li
        display: inline
        font-size: 20px
        font-weight: lighter
        padding: 0 16px



    ul.movie-summary

      li.title
        font-size: 28px

      li.synopsis
        font-size: 16px
        padding: 4px 0

    ul.movie-data

      li
        display: inline
        font-size: 16px
        color: #777777
        text-align: center
        padding: 0 12px

      li.rating
        padding-left: 0

    ul.movie-links
      margin-top: 32px

      li
        display: inline
        font-size: 18px
        padding: 0 22px

.review-content
  width: 740px
  margin: 0 auto
  padding: 40px
  color: #333333

  section
    display: inline-block
    width: 360px

    h1
      text-align: center

    .critic





