body
  margin: 0
  background-color: #F0F0F0
  font-family: "Ubuntu", sans-serif

ul
  margin: 0
  padding: 0

li
  list-style: none

a
  text-decoration: none

  &:visited
    color: #1B1B1B

.page-content
  background-color: #D8D8D8
  text-align: center
  position: relative
  z-index: 1
  +transition()
  +transform(scale(1))
  +transform-origin(right center)
  height: 100%

